body {
	background-color:white;
	margin:0;
	padding:0;
	box-sizing: border-box;
	/*color:white;*/
	display:felx;
	height:100vh;
	/*background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);*/
}

#header {
		background-color: rgb(209, 209, 209);
		overflow: hidden;
}

#title {
	text-align: center;
	font-size:25px;
	margin:-35px;
	color: black;
}

#navigation  {
	 display: flex;
    /* background-color: #dbdada; */
    overflow: hidden;
    padding: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    /* margin: 1em 1em 1em 1em; */
    border-radius: 5px;
    font-weight:bolder;
	 font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #252525;
    opacity: 0.7;
    text-decoration: none;
	width:100%;
}

#navigation a {
	 float: left;
    display: block;
    /* color: rgb(0, 0, 0); */
    text-align: center;
    padding: 2em 3em;
    margin: 0em 0em 1em 0em;
    text-decoration: none;
    /* margin: 0 1px; */
}

#navigation a:hover {
	opacity:2;
    color: rgb(255, 0, 0);
    background-color: #d1d1d19e;
}

#imge {
	width: 90%;
	margin: 0 auto;
	background-image: url("jpg/BackgroundBirds.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-bottom:20px;
	border-radius:20px;
	margin-top: 2em;
}

.bold {
	font-weight:bold;
	color:black;
}

.background {
	background-color:#6e9dc6;
}

#content1 {
	margin: 70px auto;
	width: 85%;
}

#content1 img {
	max-width:400px;
	float: left;
	border-radius: 10px;
	border: 3px solid red;
	margin-right: 20px;
	height: 300px;
}

#text1 h2 {
	font-size: 50px;
	padding: 5px;
	margin-bottom: 25px;
}

#text1 p {
	font-size: 17px;
	margin-top: -10px;
}

#content2 {
	margin: 70px auto;
	width: 85%;
}

#content2 img {
	max-width:400px;
	float: left;
	border-radius: 10px;
	border: 3px solid red;
	margin-right: 20px;
	height: 300px;
}

#text2 h2 {
	font-size: 50px;
	padding: 5px;
	margin-bottom: 25px;
}

#text2 p {
	font-size: 17px;
	margin-top: -10px;
}

#content3 {
	margin: 70px auto;
	width: 85%;
}

#content3 img {
	max-width:400px;
	float: left;
	border-radius: 10px;
	border: 3px solid red;
	margin-right: 20px;
	height: 300px;
}

#text3 h2 {
	font-size: 50px;
	padding: 5px;
	margin-bottom: 25px;
}

#text3 p {
	font-size: 17px;
	margin-top: -10px;
}

#user h2 {
	text-align: center;
}

#user p {
	width:70%;
	margin: 0 auto;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(209, 209, 209);
    margin-top: 2em;
}

#aboutwebsite {
    display: flex;
    text-align: left;
}

#social-media, #contact {
    margin-left: 20px; /* Adjust as needed */
}

#social-media img, #contact img {
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
}
