body {
    font-family: 'Arial', sans-serif;
}

.greeting {
    text-align: right;
    margin: 1em 1em 2em 29em;
}

nav {
    background: url(jpg/logo.png);
    background-size: 2%;
    background-repeat: no-repeat;
    background-position: 1em 1em;
    display: flex;
    overflow: hidden;
    padding: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    border-radius: 1em;
    font-weight: bolder;
}

nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 2em 3em;
    margin-bottom: 1em;
    text-decoration: none;
}

nav a:hover {
    opacity: 2;
    color: rgb(255, 0, 0);
    background-color: #d1d1d1cd;
}

#link-font {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #252525;
    opacity: 0.7;
    text-decoration: none;
}

#title {
    margin: auto;
    padding: 8em 1em 4em 10em;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(209, 209, 209);
    margin-top: 8em;
}

#aboutwebsite {
    display: flex;
    text-align: left;
}

#social-media, #contact {
    margin-left: 20px;
}

#social-media img, #contact img {
    width: 20px;
    height: 20px;
}






/* css for home page */
#Home-header {

    background: url(jpg/homeback.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    width: auto;
    height: auto;
    position: relative;
    border-radius: 1rem;
    padding-bottom: 40em;
}



/* css for home page */
.container {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    background-color: #f2dede;
}

/* css for home page */
.content {
    font-size: 150%;
    flex: 1;
    max-width: 1200px;
    margin: 1em 1em 1em 5em;
}

/* css for home page */
.gif-container {
    flex: 1;
    text-align: center;
}

/* css for home page */
.video-container {
    margin: 5em 1em 5em 1em;
}

/* css for home page */
.video-container h2 {
    color: #333;
    text-align: center;

}

/* css for home page */
iframe {
    display: block;
    margin: 20px auto;
}

/* css for home page */
form {

    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.463);
}

/* css for home page */
#formstuff {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

/* css for home page */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* css for home page */
button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.3s;
}

/* css for home page */
button:hover {
    background-color: #555;
}

/* css for home page */
.confirmation, .error {
    margin-top: 16px;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
}

/* css for home page */
.confirmation {
    background-color: #dff0d8;
    color: #3c763d;
}

/* css for home page */
.error {
    background-color: #f2dede;
    color: #a94442;
}


/*Here spacing is done for the sub-topic pages*/

#background-cats{
    background-image: url('jpg/background-cat1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}

/* css for sub-topic pages */
#background-dogs {
    background-image: url('jpg/unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

#background-birds {
    background-image: url('jpg/background-bird.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

/* css for sub-topic pages */
#sub-topic-title {
    color: #000000;
    margin: auto;
    padding: 5em 1em 4em 4em;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#dogs-title {
    color: rgb(236, 102, 7);
}

/* css for sub-topic pages */
#card {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

/* css for sub-topic pages */
#sub-topic {
    font-size: 22px;
    line-height: 1.5;
}

/* css for sub-topic pages */
.label-sub-topic {
    font-size: 22px;
    line-height: 1.5;
    font-weight: bold;
}

/* css for sub-topic pages */
.expandable {
    font-size: 22px;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

/* css for sub-topic pages */
.expanded {
    max-height: 400px;
}

/* css for sub-topic pages */
.arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

/* css for sub-topic pages */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;
    padding: 20px;
}

/* css for sub-topic pages */
.main img {
    max-width: 100%;
    height: auto;
    max-height: 1000px;
}

/* css for sub-topic pages */
.breed {
    display: flex;
    align-items: center;
    margin: 2em 0;
    background-color: rgba(255, 255, 255, 0.821);
    padding: 20px;
    border: 6px solid #808080;
    border-radius: 30px;
}

/* css for sub-topic pages */
.breed .image {
    margin-right: 20px;
    max-width: 40%;
}

/* css for sub-topic pages */
.breed .description {
    margin-left: 20px;
    flex: 1;
}




#making-of {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: rgb(209, 209, 209);
}

#faboutwebsite {
    float: left;

}


#fsocial-media, #fcontact {
    margin-left: 20px;
    /* Adjust as needed */
}

#fsocial-media img, #fcontact img {
    width: 20px;
    /* Adjust as needed */
    height: 20px;
    /* Adjust as needed */
}

.pics img {
    float: right;
    padding: 15px;
    margin-right: 4%;
    margin-top: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(209, 209, 209);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15), -2px -2px 5px 1px rgba(0, 0, 0, 0.15);

}

.sec img {
    margin-right: 10%;
    margin-top: 10px;
}

/*dont touch acc at all*/
.acc {
    float: left;
    margin-left: 0%;
    width: 40%;
}

.acc li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.15), -6px -6px 10px 2px rgba(0, 0, 0, 0.15);
}


.acc li #la-making-of {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

#la-making-of::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600px;
}

input[type="radio"] {
    display: none;
}

.acc .content {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.acc input[type="radio"]:checked+#la-making-of+.content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.acc input[type="radio"]:checked+#la-making-of::before {
    content: '.';

}


/*here is space for our story page*/
/*css for our story page*/


/*dont touch acc at all*/
.acc-story {
    float: left;
    margin-left: 1%;
    width: 90%;
    text-align: center;
}

.acc-story li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.15), -6px -6px 10px 2px rgba(0, 0, 0, 0.15);
}


.acc-story li #label-story {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

#label-story::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600px;
}

#p-story[type="radio"] {
    display: none;
}

.acc-story .content-story {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.acc-story input[type="radio"]:checked+#label-story+.content-story {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.acc-story input[type="radio"]:checked+#label-story::before {
    content: '.';

}

#footer-story {

    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: rgb(209, 209, 209);
}